<!--
REPLACE ###APP-NAME### with Application Name
REPLACE ###VERSION### with Version-No. eg. 1.0.0
REPLACE ###DESCRIPTION### with Application Description / Info-Text
-->
<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gudzik-media.###APP-NAME###"
        version   = "1.0.0">

    <name>TONTONS Café & Bistro</name>

    <description>
        TONTONS Café & Bistro App
    </description>

    <author href="http://www.gudzik-media.com" email="media@gudzik.com">
        Gudzik Media & Marketing
    </author>

    <!-- Preference Options -->
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />

    <!-- Splash Screens -->
    <!-- iOs -->
    <gap:splash src="splash/ios/Default.png" width="320" height="480" />
    <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
    <gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
    <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
    <!-- Android -->
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <!-- Blackberry -->
    <gap:splash src="splash/bb/splash.png" gap:platform="blackberry" />
    <!-- Windows Phone -->
    <gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />
    
    
    <!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. -->
    <preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
</widget>