<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gudzik-media.###APP-NAME###"
        version   = "1.0.0">

    <name>TONTONS Café & Bistro</name>

    <description>
        TONTONS Café & Bistro App
    </description>

    <author href="http://www.gudzik-media.com" email="media@gudzik.com">
        Gudzik Media & Marketing
    </author>

    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />

    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    
</widget>